# Data Analysis with Pandas - Cycle Share Data set - Trad Almelhem - 15-11-2021

## What is the average trip duration for a borrowed bicycle?

In [1]:
import pandas as pd

In [2]:
station = pd.read_csv('station.csv')
trip = pd.read_csv('trip.csv',error_bad_lines=False)
weather = pd.read_csv('weather.csv')

b'Skipping line 50794: expected 12 fields, saw 20\n'

## What is the average trip duration for a borrowed bicycle ?

In [5]:
def average_trip_duration():
    return trip['tripduration'].mean()
average_trip_duration()

1178.2956753399776

## What’s the most common age of a bicycle-sharer?

In [8]:
def most_common_age_sharer():
    age_sharer = trip['birthyear'].mode()
    current_year = 2021 
    return  round(current_year - age_sharer)[0]
most_common_age_sharer()

34.0

## Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [10]:
def month(date):
    return int(date.split('/')[0])
weather['Month'] = weather['Date']
weather['Month'].apply(month)

precipitation = weather.groupby('Month')['Precipitation_In']
print('Mean /', precipitation.mean())
print('Median /', precipitation.median())

Mean / Month
1/1/2015     0.00
1/1/2016     0.00
1/10/2015    0.18
1/10/2016    0.00
1/11/2015    0.06
             ...
9/5/2015     0.06
9/6/2015     0.19
9/7/2015     0.00
9/8/2015     0.00
9/9/2015     0.00
Name: Precipitation_In, Length: 689, dtype: float64
Median / Month
1/1/2015     0.00
1/1/2016     0.00
1/10/2015    0.18
1/10/2016    0.00
1/11/2015    0.06
             ...
9/5/2015     0.06
9/6/2015     0.19
9/7/2015     0.00
9/8/2015     0.00
9/9/2015     0.00
Name: Precipitation_In, Length: 689, dtype: float64

## What’s the average number of bikes at a given bike station?

In [ ]:
def average_bikes_by_station():
    return station.current_dockcount.mean()
average_bikes_by_station()

## When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [11]:
modified_station = station[['modification_date','install_dockcount','current_dockcount']]
modified_station.dropna()

   modification_date  install_dockcount  current_dockcount
7          11/9/2015                 20                 18
10          8/9/2016                 16                  0
12         2/24/2015                 18                 20
17         2/24/2015                 28                 26
22         3/24/2015                 30                 24
23         3/27/2015                 12                 16
26         3/18/2016                 16                  0
31         2/24/2015                 18                 20
35         3/13/2015                 12                 20
37         2/23/2015                 18                 16
38         11/2/2015                 20                  0
39          3/4/2015                 12                 16
46        10/29/2015                 16                  0
47         2/20/2015                 12                 14
48         2/20/2015                 18                 16
49         2/20/2015                 12                 14
50         2/20/2015                 20                 14